@{
    ViewData["Title"] = "Dashboard";
}
@model D11Analytics.ViewModels.MatchDetails

<div class="row" style="margin-top: 5%;">
    <div class="col-sm-6 col-xs-12 col-lg-4 col-md-4">
        <div class="panel panel-default">
            <a href="/Home/Index?sportName=cricket">
                <div class="panel-heading">
                    <p>Cricket</p>


                </div>
                <div class="panel-body">
                    <p class="lead">Get the cricket stats, preview and much more</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12 col-lg-4 col-md-4">
        <div class="panel panel-default">
            <a href="/Home/Index?sportName=Kabaddi">
                <div class="panel-heading">
                    <p>Kabaddi</p>


                </div>
                <div class="panel-body">
                    <p class="lead">Get the Kabaddi stats, preview and much more</p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-xs-12 col-lg-4 col-md-4">
        <div class="panel panel-default">
            <a href="/Home/Index?sportName=nba">
                <div class="panel-heading">
                    <p>NBA</p>


                </div>
                <div class="panel-body">
                    <p class="lead">Get the NBA stats, preview and much more</p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-xs-12 col-lg-4 col-md-4">
        <div class="panel panel-default">
            <a href="/Home/Index?sportName=football">
                <div class="panel-heading">
                    <p>Football</p>


                </div>
                <div class="panel-body">
                    <p class="lead">Get the Football stats, preview and much more</p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-xs-12 col-lg-4 col-md-4">
        <div class="panel panel-default">
            <a href="/Home/Index?sportName=hockey">
                <div class="panel-heading">
                    <p>Hockey</p>


                </div>
                <div class="panel-body">
                    <p class="lead">Get the Hockey stats, preview and much more</p>
                </div>
            </a>
        </div>
    </div>
</div>
